main{
    width: 1000px;
    height: 1000px;
    padding: 5px;   
}

.cardUp{
    background-color: green;
}

.cardDown{
    background-color: rgb(128, 0, 0);
}

.card{
    width: 100px;
    height: 120px;
    //background-color: rgb(127, 104, 233);
    margin-left: 15px;
    display:  inline-block; /* the default for span */
}
// [class.cardDown]='!card.side'
//   [class.cardUp]='card.side'
//[ngClass]="{'cardDown':!card.side }"